nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}


ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    list-style-type: none;
    padding: 0;
}