nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    list-style-type: none;
    padding: 0;
}


@media (max-width: 80em) {
    nav {
        display: none;
    }
}