.product-card {
    height: 30em;
    transition: background-color 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    border-radius: 1em;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    padding: 1.5em;
    font-family: 'Archivo', sans-serif;
}

.product-card .bottom-row{
    display: flex;
    align-items: center;
}



.product-card .bottom-row p:first-child{
    flex: 1;
    text-align: left;
}

.product-card .bottom-row button{
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 0.8em;
}

.quantity-control{
    display: flex;
}

.quantity-control .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
}

.quantity-control .btn-increase{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.quantity-control .btn-decrease{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

h3 {
    text-align: center;
    display: inline-block;
    transition: color 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.image {
    display: flex;
    align-items: center;
    /* horizontal center */
    justify-content: center;
}

img {
    width: auto;
    height: auto;
    max-width: 10em;
    max-height: 10em;
    mix-blend-mode: multiply;
}

p {
    font-size: 0.8rem;
    text-align: justify;
}

.price{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}