.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( min( 18rem , 100%), 1fr));
    gap: 1.5em;
    padding: 1.5em;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.product-grid-container{
    display: flex;
    flex-direction: column;
}

.product-search{
    margin:1.5em;
    border-radius: 1em;
    font-family: 'Archivo' , sans-serif;
    padding: 1em;
    transition: background-color 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}