.main-container{
  width: 100vw;
  height: 100vh;
  display: grid;
  
}

main{
  transition: background-color 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@media (min-width: 80em){
  .main-container{
    grid-template-columns: max(20vw,25em) 1fr;
  }
}

@media (max-width: 80em){
  .main-container{
    grid-template-rows: max-content 1fr;
  }
}